
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <img src="~/img/error.png" class="w-50 img-fluid" />
    </div>
    <div class="col-md-8">
        <p class="display-4 text-danger">Bir hata oluştu.</p>
    </div>
</div>

